<h1>Edit Wiki</h1>
<div class="row">
  <div class="col-md-8">
    <%= render partial: 'form', locals: {wiki: @wiki} %>
  </div>
</div>

<%= link_to "Manage Collaborators", wiki_collaborators_path(@wiki), class: 'btn btn-info' %>
